<aside id="main-sidebar" class="fixed inset-y-0 right-0 z-50 w-64 flex flex-col h-screen border-l border-gray-200 dark:border-slate-800 bg-white dark:bg-pixelDark transition-transform duration-300 ease-in-out transform translate-x-full lg:translate-x-0 lg:static lg:flex">
    
    <div class="p-6">
        <div class="flex items-center gap-3 text-pixelBlue">
            <i data-lucide="layout-grid" class="w-8 h-8"></i>
            <span class="text-2xl font-bold tracking-wider uppercase">Pixel <span class="text-slate-400">Iraq</span></span>
        </div>
    </div>

    <nav class="flex-1 px-4 space-y-2 overflow-y-auto">
        <a href="/reports/dashboard" class="flex items-center gap-3 p-3 rounded-xl hover:bg-pixelBlue/10 hover:text-pixelBlue transition">
            <i data-lucide="home" class="w-5 h-5"></i> الرئيسية
        </a>
         <a href="/sales" class="flex items-center gap-3 p-3 rounded-xl hover:bg-pixelBlue/10 hover:text-pixelBlue transition">
            <i data-lucide="plus-circle" class="w-5 h-5"></i> فاتورة جديدة
        </a>
        <a href="/products" class="flex items-center gap-3 p-3 rounded-xl hover:bg-gray-100 dark:hover:bg-slate-800 transition">
            <i data-lucide="package" class="w-5 h-5"></i> المنتجات
        </a>
        <a href="/sales" class="flex items-center gap-3 p-3 rounded-xl hover:bg-gray-100 dark:hover:bg-slate-800 transition">
            <i data-lucide="shopping-cart" class="w-5 h-5"></i> المبيعات
        </a>
        <a href="/customers" class="flex items-center gap-3 p-3 rounded-xl hover:bg-gray-100 dark:hover:bg-slate-800 transition">
            <i data-lucide="users" class="w-5 h-5"></i> العملاء
        </a>
        <a href="/categories" class="flex items-center gap-3 p-3 rounded-xl hover:bg-gray-100 dark:hover:bg-slate-800 transition">
            <i data-lucide="layers" class="w-5 h-5"></i> اصناف المنتجات 
        </a>
         <a href="/suppliers" class="flex items-center gap-3 p-3 rounded-xl hover:bg-gray-100 dark:hover:bg-slate-800 transition">
            <i data-lucide="layers" class="w-5 h-5"></i> الموردين
        </a>
        <a href="/purchases" class="flex items-center gap-3 p-3 rounded-xl hover:bg-gray-100 dark:hover:bg-slate-800 transition">
            <i data-lucide="layers" class="w-5 h-5"></i> فواتير الشراء
        </a>
         <a href="/users" class="flex items-center gap-3 p-3 rounded-xl hover:bg-gray-100 dark:hover:bg-slate-800 transition">
            <i data-lucide="user-plus" class="w-5 h-5"></i> المستخدمون 
        </a>
       
        
    </nav>
</aside>

<div id="sidebar-overlay" class="fixed inset-0 bg-slate-900/50 backdrop-blur-sm z-40 hidden lg:hidden"></div>